@model HolidayManagement.Models.Office

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Office</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OfficeName">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
