@model HolidayManagement.Models.Holiday

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Holiday</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HolodayTypes" class="control-label"></label>
                <input asp-for="HolodayTypes" class="form-control" />
                <span asp-validation-for="HolodayTypes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffID" class="control-label"></label>
                <input asp-for="StaffID" class="form-control" />
                <span asp-validation-for="StaffID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalNumberOfDays" class="control-label"></label>
                <input asp-for="TotalNumberOfDays" class="form-control" />
                <span asp-validation-for="TotalNumberOfDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DaysLeft" class="control-label"></label>
                <input asp-for="DaysLeft" class="form-control" />
                <span asp-validation-for="DaysLeft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
